* {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    color: #001433;
}

body {
    background-image: url('bread.png');
}

#textInput {
    border: none;
}

#wheatRatio {
    display: inline;
}

#speltRatio {
    display: none;
}

#ryeRatio {
    display: none;
}

#recipeDisplay {
    display: none;
}

#calcBtn {
    padding: 5px 10px;
    margin: auto;
}

input {
    margin: 5px;
}

h3 {
    margin: 10px;
}

header h1 {
    margin: 10px;
    font-size: 3rem;
    font-family: 'Lora', serif;
}

@media only screen and (min-width: 768px) {
    header {
        padding: 5vh;
    }
    
    main {
        margin: 10vh 20vw;
        padding: 5vh 0 15vh 0;
        border-radius: 15px;
    }

    #mainHeader {
        padding: 3vh 0;
    }
}

header {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3vh 0;
}

main {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 0 5vh 0;
}